/*footer css */

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 940px;
    padding: 50px 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;

}

.footer-menu-heading {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-column {
    flex-grow: 1;
    padding: 5px;
}

#rights-footer {
    flex-grow: 2;
    padding-top: 36px;
}

.footer-column h4 {
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    text-decoration: underline;
}
