$main-color: #454545;
$accent-color: #007ee5;
$border-radius: 5px;
$button-accent-secondary: #302d2d;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: $main-color;
    line-height: 1.6;
    background: #fbfbfb;
}

.h1 {
    font-size: 48px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 37px;
}

.h1, .h2, .h3 {
    line-height: 1.2;
}

.main {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

// Медіа-запити
@media (max-width: 865px) {
    .h1 {
        font-size: 36px;
    }

    .h2 {
        font-size: 30px;
    }

    .h3 {
        font-size: 27px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }

    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 26px;
    }

    .h3 {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 17px;
    }
}
