/* main.css */

/* Reset Styles */
@import url('reset.css');

/* Component Styles */
/*@import url('media.css');*/
@import url('header.css');
@import url('hero.css');
@import url('sections.css');
@import url('section-cta.css');
@import url('footer.css');


:root {
    --main-color: #454545;
    --accent-color: #007ee5;
    --border-radius: 5px;
    --button-accent-secondary: #302d2d;
}

/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #454545;
    line-height: 1.6;
    background: #fbfbfb !important;
}

h1 {
    font-size: 48px;

}

h2 {
    font-size: 40px;

}

h3 {
    font-size: 37px;

}


h1, h2, h3 {
    line-height: 1.2;

}


main {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;


}


/*media queries start*/


@media (max-width: 920px) {
    .three-banners-section {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner {

        margin: 30px;

    }


}


@media (max-width: 865px) {

    h1 {
        font-size: 36px;

    }

    h2 {
        font-size: 30px;

    }

    h3 {
        font-size: 27px;

    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 14px;

    }

    .footer-menu-heading {
        font-weight: 600;
        margin-bottom: 10px;
    }


    .footer-column {
        width: 20%;

    }

    #rights-footer {
        flex-grow: 2;

    }


}

@media (max-width: 770px) {

}


@media (max-width: 640px) {
    .three-banners-section, .image-text-section {
        text-align: center;
        justify-content: center;
        margin: 30px 0;
        flex-wrap: wrap;
    }

    .image-text-section div {
        width: 100%;
        justify-content: center;
    }

    .banner {
        margin-bottom: 35px;
        width: 100%;
        justify-content: center;
    }

}


@media (max-width: 480px) {

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;

    }

    h2 {
        font-size: 26px;

    }

    h3 {
        font-size: 22px;

    }

    #top-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-logo {
        max-height: 50px;
    }

    .banner {
        margin: 10px;
        max-width: 100%;
    }
}


@media (max-width: 320px) {

    body {

        font-size: 17px;

    }

    .banner {
        margin-bottom: 10px;
        padding: 10px;
    }

    header {
        padding: 0 5px;
    }

    #top-nav-ul li {
        margin-right: 10px;

    }
}

/*media queries end*/



