.three-banners-section, .image-text-section {
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}

.banner {
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(69, 69, 69, 0.35);
    max-height: 270px;
    max-width: 265px;
    padding: 60px 40px 60px 40px;
    margin: 15px 0;
}

.banner p {
    margin-top: 20px
}

.image-text-section img {
    max-width: 270px;
    height: auto;
}

.text-left-variation {
    flex-direction: row-reverse;
}

@media (max-width: 920px) {
    .three-banners-section {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner {
        margin: 20px;
        padding: 20px 10px;
        width: 28%;

    }
}

@media (max-width: 770px) {
    .banner {
        margin: 10px;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .three-banners-section, .image-text-section {
        margin: 30px 0;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-text-section div {
        margin: 20px 0;
        width: 100%;
        justify-content: center;
    }

    .text-right-variation, .text-left-variation {
        flex-direction: column-reverse;
    }

    .text-right-variation div, .text-left-variation div {
        margin: 5px 0;
    }

    .banner {
        margin-bottom: 35px;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .banner {
        margin: 10px;
        max-width: 100%;
    }
}