/* cta section.css */

.cta-section {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 50px 20px;
    background: #ffffff;
    box-shadow: 0 0 7px 0 rgba(69, 69, 69, 0.35);
}

.cta-section h3 {
    margin-bottom: 35px;
}

.cta-section button {
    margin: 15px;
    height: 60px;
    width: 250px;
    border-radius: var(--border-radius);
    border: none;
    color: #ffffff;
}

.cta-section .button-grey {
    background: var(--button-accent-secondary);
}

.cta-section .button-blue {
    background: var(--accent-color);
}
