.hero {
    margin-top: 55px;
    padding-top: 0;
    display: block;
    text-align: center;

    img {
        width: 100%;
        max-width: 720px;
        height: auto;
    }
}

.hero-heading {
    margin: 35px 0;
}