.cta-section {
    @include full-width-section(center, #ffffff);

    .cta-section__heading {
        margin-bottom: 35px;
    }

    .cta-section__button{
        height: 60px;
        width: 250px;
        margin: 15px;
        border-radius: $border-radius;
        border: none;
        color: #ffffff;

        &.cta-section__button--grey {
            background: $button-accent-secondary;
        }

        &.cta-section__button--blue {
            background: $accent-color;
        }
    }
}