body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #454545;
  line-height: 1.6;
  background: #fbfbfb;
}

.heading-h1 {
  font-size: 48px;
}

.heading-h2 {
  font-size: 40px;
}

.heading-h3 {
  font-size: 37px;
}

.heading-h1, .heading-h2, .heading-h3 {
  line-height: 1.2;
}

.main {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (max-width: 865px) {
  .heading-h1 {
    font-size: 36px;
  }
  .heading-h2 {
    font-size: 30px;
  }
  .heading-h3 {
    font-size: 27px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 18px;
  }
  .heading-h1 {
    font-size: 30px;
  }
  .heading-h2 {
    font-size: 26px;
  }
  .heading-h3 {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 17px;
  }
}
.header {
  height: 115px;
  padding: 0 20px;
  background: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  z-index: 30;
  box-shadow: 0 0 7px 0 rgba(69, 69, 69, 0.35);
}
.header .header__logo {
  max-height: 50px;
  margin-right: 15px;
}

.header__nav {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: #ffffff;
}
.header__nav .header__list {
  display: flex;
  list-style: none;
}
.header__nav .header__list .header__item {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.header__nav .header__list .header__item .header__link {
  color: #007ee5;
  font-weight: normal;
  text-decoration: none;
}

.header__sign-in-button {
  height: 35px;
  width: 90px;
  border: none;
  background-color: #007ee5;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__sign-in-button:hover, .header__sign-in-button:focus {
  color: #ffffff;
  outline: none;
  background-color: #454545;
}

@media (max-width: 480px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__logo {
    max-height: 50px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 17px;
  }
  .three-banners__banner {
    margin-bottom: 10px;
    padding: 10px;
  }
  .header {
    padding: 0 5px;
  }
  .header__item {
    margin-right: 10px;
  }
}
.hero-section {
  margin-top: 55px;
  padding-top: 0;
  display: block;
  text-align: center;
}
.hero-section .hero-section__image {
  width: 100%;
  max-width: 720px;
  height: auto;
}

.hero-section__heading {
  margin: 35px 0;
}

.three-banners,
.image-text {
  display: flex;
  justify-content: space-between;
  margin: 90px 0;
}
.three-banners .three-banners__banner,
.image-text .three-banners__banner {
  max-height: 270px;
  max-width: 265px;
  padding: 60px 40px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(69, 69, 69, 0.35);
  margin: 15px 0;
}
.three-banners .three-banners__banner .three-banners__text,
.image-text .three-banners__banner .three-banners__text {
  margin-top: 20px;
}
.three-banners .image-text__image,
.image-text .image-text__image {
  max-width: 270px;
  height: auto;
}
.three-banners.image-text--left,
.image-text.image-text--left {
  flex-direction: row-reverse;
}

@media (max-width: 920px) {
  .three-banners {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .three-banners .three-banners__banner {
    margin: 20px;
    padding: 20px 10px;
    width: 28%;
  }
}
@media (max-width: 770px) {
  .three-banners__banner {
    margin: 10px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .three-banners,
  .image-text {
    margin: 30px 0;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .three-banners .image-text__text-wrapper,
  .image-text .image-text__text-wrapper {
    margin: 20px 0;
    width: 100%;
    justify-content: center;
  }
  .three-banners.image-text--right, .three-banners.image-text--left,
  .image-text.image-text--right,
  .image-text.image-text--left {
    flex-direction: column-reverse;
  }
  .three-banners.image-text--right .image-text__text-wrapper, .three-banners.image-text--left .image-text__text-wrapper,
  .image-text.image-text--right .image-text__text-wrapper,
  .image-text.image-text--left .image-text__text-wrapper {
    margin: 5px 0;
  }
  .three-banners.image-text--right .image-text__text-wrapper .image-text__heading, .three-banners.image-text--left .image-text__text-wrapper .image-text__heading,
  .image-text.image-text--right .image-text__text-wrapper .image-text__heading,
  .image-text.image-text--left .image-text__text-wrapper .image-text__heading {
    margin-bottom: 15px;
  }
  .three-banners .three-banners__banner,
  .image-text .three-banners__banner {
    margin: 10px 10px 35px 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .three-banners__banner {
    margin: 10px;
    width: 100%;
  }
}
.cta-section {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 50px 20px;
  background: #ffffff;
  box-shadow: 0 0 7px 0 rgba(69, 69, 69, 0.35);
}
.cta-section .cta-section__heading {
  margin-bottom: 35px;
}
.cta-section .cta-section__button {
  height: 60px;
  width: 250px;
  margin: 15px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.cta-section .cta-section__button.cta-section__button--grey {
  background: #302d2d;
}
.cta-section .cta-section__button.cta-section__button--blue {
  background: #007ee5;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 939px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.footer .footer__menu {
  list-style: none;
}
.footer .footer__link {
  text-decoration: none;
  color: #333;
}
.footer .footer__link:hover {
  text-decoration: underline;
}

.footer__menu-heading {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__column {
  flex-grow: 1;
  padding: 5px;
}
.footer__column:last-of-type {
  flex-grow: 2;
  padding-top: 36px;
}

@media (max-width: 865px) {
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 14px;
  }
  .footer-column {
    width: 22%;
  }
  .footer-column:last-of-type {
    flex-grow: 2;
  }
}
@media (max-width: 480px) {
  .footer-column {
    width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
