body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #454545;
    line-height: 1.6;
    background: #fbfbfb;
}

.heading-h1 {
    font-size: 48px;
}

.heading-h2 {
    font-size: 40px;
}

.heading-h3 {
    font-size: 37px;
}

.heading-h1, .heading-h2, .heading-h3 {
    line-height: 1.2;
}

.main {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

@media (max-width: 865px) {
    .heading-h1 {
        font-size: 36px;
    }

    .heading-h2 {
        font-size: 30px;
    }

    .heading-h3 {
        font-size: 27px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }

    .heading-h1 {
        font-size: 30px;
    }

    .heading-h2 {
        font-size: 26px;
    }

    .heading-h3 {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 17px;
    }
}