.hero-section {
    margin-top: 55px;
    padding-top: 0;
    display: block;
    text-align: center;

    .hero-section__image {
        width: 100%;
        max-width: 720px;
        height: auto;
    }
}

.hero-section__heading{
    margin: 35px 0;
}